[run]
branch = True
omit =
    */MRIsegm/__init__.py
    */MRIsegm/__version__.py
    */MRIsegm/__main__.py
    */MRIsegm/datagenerators.py
    */MRIsegm/models.py
    */MRIsegm/graphics.py
    
[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover